<div class="hero">
  <div class="row">
    <div class="col s12">
      <div class="section">
        <h1>Learn Zen Typing</h1>
        <h5 class="sub-header">Swift. Accurate. Effortless.</h5>
      </div>
      <div class="divider"></div>

      <p class="flow-text">Press <span class="pressable-key">Enter</span> to begin your training.</p>
    </div>
  </div>
</div>

<div class="questions">
  <div class="row">
    <div class="col s12 m4">
      <h5 class="header">What is Zen Typing?</h5>
    </div>
    <div class="col s12 m8">
      <span>It's all about <i>flowing</i> through character sequences.</br>
        As a Zen Typist, you'll experience unparalleled consistency, quickness, and confidence as you flow from sequence to sequence.</span>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <h5 class="header">How do I learn?</h5>
    </div>
    <div class="col s12 m8">
      <span>The program trains you to "muscle-memorize" specific key combinations. These key combos are derived from the top 10000 most commonly used English words.</br>Master them by completing all levels.</span>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <h5 class="header">Anything else?</h5>
    </div>
    <div class="col s12 m8">
      <span>Do yourself a favor - don't look at the keyboard under any circumstances while training. Take breaks every 20 minutes as it helps memorization.</span>
    </div>
  </div>
</div>
