
<typing-lesson lesson="lesson" ng-switch="lesson.state" class="typing-lesson">

  <div ng-switch-when="Post">
    <div class="lesson-header">
      <h3>Level {{selectedLevel}} results</h3>
    </div>
    <div class="divider"></div>

    <div class="lesson-inner">
      <div class="row stats">
        <div class="col s6">
          <div class="accuracy">
            <div class="stat-value">{{lesson.accuracy}}%</div>
            <div class="stat-label">Accuracy</div>
          </div>
        </div>
        <div class="col s6">
          <div class="wpm">
            <div class="stat-value">{{lesson.wpm}}</div>
            <div class="stat-label">Combos/min</div>
          </div>
        </div>
      </div>

      <p class="lesson-prompt flow-text">Press <span class="pressable-key">Enter</span> to continue.</p>
    </div>
  </div>

  <div ng-switch-when="Running">
    <backspace-toast-tip toast-tip-text="No backspacing! Mistakes reset the current word.">
    </backspace-toast-tip>

    <div class="lesson-header">
      <div class="section">
        {{lesson.combosLeft}} Combos Left
      </div>
    </div>
    <div class="divider"></div>

    <current-combo animate-combo="lesson.comboIdx" class="lesson-inner current-combo">
    <span ng-repeat="letter in lesson.curCombo track by $index" ng-class="{'pressable-key': $index == lesson.letterIdx}">{{letter}}</span>
    </current-combo>
  </div>

  <div ng-switch-default>
    <div class="divider"></div>

    <div class="lesson-inner">
      <h3>Level {{selectedLevel}}</h3>
      <p class="lesson-prompt flow-text">Press <span class="pressable-key">Enter</span> to begin.</p>
    </div>
  </div>
</typing-lesson>

<div class="divider"></div>

<div class="section level-nav">
  <div class="row">
    <div class="col s8">
      <select class="browser-default" ng-model="selectedLayout" ng-options="layoutName as layoutName for (layoutName, v) in layouts"></select>
    </div>
    <div class="col s4">
      <select class="browser-default" ng-model="selectedLevel" ng-options="level for level in levelNumbers track by level"></select>
    </div>
  </div>
</div>

