
html {
  font-size: 14px;
}

$baseBg: #f9f9f9;

$progress-color: #2bc252;

$incorrect-char-color: #F44336!important;

body {
  background-color: $baseBg;
}

.main-content {
  margin-top: 5em;
}

.hidden {
  display: none;
}
