$letterSize: 8em;

.lesson-header {
  text-align: center;
}

.lesson-inner {
  display: block;
  text-align: center;
  padding: 2em 15%;
}

.lesson-progress-bar {
  height: 0.5rem;
  border-radius: 0.5em;
  background: $progress-color;
}

.lesson-end {
  text-align: center;
  margin-top: 1rem;
}

.lesson-incorrect-chars {
  width: 100%;
  margin: 2rem 0;
  display: inline-flex;

  .char {
    display: inline-block;
    position: relative;
  }

  .char-background {
    background: $incorrect-char-color;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.current-combo {
  @extend .big-lettered;
  @extend .blue-grey-text;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;

  span {
    font-size: $letterSize;
    @media only screen and (max-device-width: 480px) {
      font-size: 5em;
    }
    padding-left: 5px;
    padding-right: 5px;
  }

  .wrong {
    color: $incorrect-char-color;
  }
}

.level-nav {
  max-width: 250px;
  margin: 0 auto !important;
}

.stats {
  max-width: 460px;
  margin: 0 auto !important;
  text-align: center;

  .stat-value {
    font-weight: 600;
    font-size: 4em;
  }

  .stat-label {
    font-weight: 200;
    font-size: 1.7em;
  }
}

p.lesson-prompt {
  margin-bottom: 0;
}
