$letterSize: 8em;

.completed-message .key-letter {
  @extend .big-lettered;
}

.combos-left, .wpm {
  text-align: center;
}

.lesson-inner {
  @extend .big-lettered;

  display: block;
  text-align: center;
}

.current-combo {
  @extend .blue-grey-text;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;

  span {
    font-size: $letterSize;
    @media only screen and (max-device-width: 480px) {
      font-size: 5em;
    }
    padding-left: 5px;
    padding-right: 5px;
  }

  .wrong {
    @extend .red-text;
  }
}

.level-nav {
  max-width: 250px;
  margin: 0 auto !important;
}
