$letterColor: rgba(0, 0, 0, 0.54);
$currentLetterColor: #268bd2;
$incorrectLetterColor: #dc322f;
$letterSize: 8em;

.typing-lesson {
  width: 100%;
  height: 100%;
}

.big-lettered {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.key-letter {
  color: $currentLetterColor;
}

.combos-left {
  text-align: center;
}

.lesson-inner {
  @extend .big-lettered;

  display: block;
  padding: 5em 0;
  text-align: center;
}

.current-combo {
  color: $letterColor;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;

  span {
    font-size: $letterSize;
    padding-left: 5px;
    padding-right: 5px;
  }

  .wrong {
    color: $incorrectLetterColor !important;
  }
}

.lesson-nav {
  text-align: center;
}

