$letterColor: rgba(0, 0, 0, 0.54);
$currentLetterColor: #268bd2;
$incorrectLetterColor: #dc322f;
$letterSize: 8em;
$letterFont: 700 $letterSize 'Roboto', sans-serif;


.typing-lesson {
  width: 100%;
  height: 100%;
}

.current-combo {
  text-align: center;
  padding: 10em;
  color: $letterColor;
  -webkit-animation-duration: 0.3s;

  span {
    font: $letterFont;
    padding-left: 5px;
    padding-right: 5px;
  }

  .prev {
    opacity: 0.5;
  }

  .current {
    color: $currentLetterColor;
  }

  .wrong {
    color: $incorrectLetterColor !important;
  }
}

